<section class="w-100">
  <div class="container">
    <div id="hero-header" class="d-flex flex-column justify-content-center text-center">
      <h2 class="fw-bold text-white">Crypto Checker</h2>
      <h6>Check all the Cryptocurrency updated</h6>
    </div>
    <div class="h-50 d-none d-xl-flex align-items-center">
      <marquee behavior="scroll" direction="left" onmouseover="stop()" onmouseout="start()" loop="infinite">
        <div class="row">
          <ng-container *ngFor="let crypto of bannerData">
            <div class="col-1">
              <div class="card bg-transparent text-white d-flex flex-column align-items-center">
                <img [src]="crypto.image" class="img-fluid mx-auto my-0">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ crypto.symbol | uppercase }}
                    <span class="text-danger">{{ crypto.market_cap_change_percentage_24h }}%</span>
                  </h5>
                  <p class="card-text">{{ crypto.current_price | currency:currency }}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </marquee>
    </div>
  </div>
</section>
