<section class="w-100 d-flex flex-column justify-content-between align-items-center gap-5 px-1 px-sm-3">
  <div class="container-fluid text-white d-flex flex-column flex-lg-row align-items-center w-100">
    <div class="subcontainer">
      <div class="img">
        <img [src]="coinData?.image?.large">
        <h3 class="text-center">{{ coinData?.name }}</h3>
        <h2 [innerHtml]="description"></h2>
        <div class="more-detail">
          <span class="title">Rank: </span>
          <span class="value">{{ coinData?.market_cap_rank }}</span><br>
          <span class="title">Current Price: </span>
          <span class="value">{{ coinData?.market_data?.current_price?.inr | currency:currency }}</span><br>
          <span class="title">Market Cap: </span>
          <span class="value">{{ coinData?.market_data?.market_cap?.inr | currency:currency }}</span>
        </div>
      </div>
    </div>
    <div class="subcontainer">
      <app-graph [coinId]="coinId" class="w-100"></app-graph>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center w-100">
    <button type="button" class="btn btn-danger w-100" (click)="returnHome()">Return</button>
  </div>
</section>
